# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
* @futureversecom/futurepass-service

# This protects the .github folder and the CODEOWNERS file from unauthorised changes.
/.github/ @futureversecom/futurepass-service
